<div class="container">
    <h2>Tareas</h2>
    <div class="panels">
        <div>
            <table>
                <tr>
                    <th>Usuario</th>
                    <th>Tarea</th>
                    <th>Completado</th>
                </tr>
                <tr *ngFor="let todo of todosList" (click)="selectTodo(todo)">
                    <td>{{todo.userId}}</td>
                    <td>{{todo.title}}</td>
                    <td>
                        <span *ngIf="todo.completed">Si</span>
                        <span *ngIf="!todo.completed">No</span>
                    </td>
                </tr>
            </table>
            

        </div>
        <div>
            <app-todo-details [todo]="selectedTodo"></app-todo-details>
        </div>
    </div>
</div>