<div class="container">
    <h2>Albums</h2>
    <form *ngIf="!userId" (submit)="addAlbum()">
        <div class="form-group">
            <label for="titulo">Titulo</label>
            <input class="form-control" type="text" name="titulo" placeholder="Album title" [(ngModel)]="title">
        </div>

        <input type="submit" value="Enviar" class="btn btn-primary">
        <button (click)="cancelForm($event)" class="btn btn-default ml-2">Cancelar</button>
    </form>
    <app-datalist [data]="albumsList" [settings]="settings"></app-datalist>
</div>
